<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href='home'><u><i>derik backies</u></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home"><u><i>Home</u></i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about"><u><i>ABOUT US</u></i></a>
                </li>
                
                <li class="nav-item">
                <a class="nav-link" href="services"><u><i>SERVICES</u><i/></a>
                </li>

                <li class="nav-item">
                <a class="nav-link" href="reciveorder"><u><i>ORDER NOW</u></i></a>
                </li>

            </ul>

            </div>
        </div>
        </nav>

<center>
    <p><i>
    We will in general overlook that satisfaction doesn’t originate from something we don’t have, yet rather of perceiving and acknowledging what we do… Satisfaction is fellowship… Joy is festivity.
    It’s tied in with acquiring bliss and praising life.

    Spreading bliss and commending each snapshot of life is the mantra at ‘Organization Name’ . ‘Organization Name’ started their endeavor with Handmade Chocolates and gradually moved into Cakes, Pastries and unified items.



    In 1995 ‘Organization Name’ wandered into advancement and innovativeness and presented productive Birthday Cakes, Customized Wedding Cakes and Theme Cakes according to events. ‘Organization Name’ expects to be the main Cake Store regarding quality, benefit, esteem for cash and consumer loyalty.

    <ul>derik backries</ul>, included on Cake Boss, is known for our tasty baked goods, sweets and cakes.

    ‘derik backries’ is a family possessed bread kitchen included on the TLC hit indicate Cake Boss. Carlo’s, initially opened by Penny in 1910, was procured by Bartolo Valastro Sr. in 1964.

    Since the unfavorable going of Bartolo Sr. in 1994, female authority Mary Valastro and her kids Grace, Maddalena, Mary, Lisa and ace pastry specialist Jerry thomas have extended the business with the assistance of their companions.

    On account of the Thomas family’s commitment to quality and brilliance, ‘Organization Name’ has gotten national acknowledgment. Ace Baker Jerry thomas has been included in various productions, for example, Modern Bride, and The Knot. Pal’s cake configuration was casted a ballot by the Today’s Show watchers as best cake in America.




    He has additionally showed up in numerous other news sources, including various appearances on the Food Network, for his complex sugar craftsmanship plans strength cakes and wedding cakes that look similarly comparable to they taste.

    About Us Page Sample
    ‘Organization Name’ is one of only a handful few enduring Craft Bakeries in Surrey. We have assembled our notoriety on consolidating great quality conventional heating with great incentive for cash.

    We offer our clients a full scope of breads, forte breads, morning merchandise, cakes and baked goods.

    Our bread is heated day by day at our pastry shop in East Horsley and is conveyed to our twelve shops. We utilize profoundly gifted specialty dough punchers to guarantee each portion of bread is flawless without fail.

    Our pastry specialists work during that time with the goal that the portion of bread you purchase toward the beginning of the day is crisp out of the stove!

    About Us Page Sample
    Enlivened by incredible crisp fixings, our little neighborhood pastry shop on a corner in downtown Chicago started making craftsman breads and naturally prepared desserts. Also, upon a little achievement, neighbors started to approach us for sandwiches made with that awesome bread, trailed by hand crafted soups and servings of mixed greens, and even made-to-arrange scramblers.




    Our visitors’ solicitations kept on moving us as our bread kitchen’s menu and business developed.

    Today, we keep on satisfying the requirements and wants of our neighbors with a menu of fixing enlivened, arranged to-arrange nourishment. When you visit our bistro, you’ll see genuine kitchens instead of sequential construction systems. You’ll hear the slashing of more than 40 sorts of crisp herbs, products of the soil, and the sizzle of our genuine panini barbecue.

    You’ll see the stove’s open fire and feel the glow from our broilers working throughout the day. They’re the customs we set up years prior that we still enthusiastically pursue today.

    About Us Page Sample
    ‘Organization Name’ was set up in the Cotswolds in the 1930’s and we are a genuine privately-owned company with five ages of preparing background. We are presently raising the 6th era of yearning bakers.We trust that handcrafted bread ought to be accessible to everybody.

    At our pastry kitchen in Chipping Sodbury our master group of dough punchers deliver an excellent scope of brilliant breads, baked goods and sweet shop.

    Brought into the world with flour on their fingers, ages of our ‘Organization Name’ group convey their instilled energy for heating to work regular, to keep on being at the front line of item advancement, and guarantee that there is a strong future for genuine bread made by genuine bakers.

    Many of our breads utilize medium-term strategies and our multi year old sourdough starter to give our portions a distinction you can taste.
    </center>
    </body>
    </html>

